.contenu
{
	font-family: arial,serif;
	background-color: #E6E6E6;
	box-shadow: 2px 2px 3px #5A5A5A;
	margin-right: 2.5%;
	margin-left: 2.5%;
	padding: 10px 2.5% 10px 2.5%;
}

h1
{
	text-align: center;
	margin-bottom: 20px;
}

p
{
	font-size: 1.1em;
}

strong
{
	font-weight: bold;
}

.note
{
	font-style: italic;
	font-size: 0.9em;
}